# Recommendation System Weights
MF_WEIGHT=
CBF_WEIGHT=
POPULAR_WEIGHT=
TIME_BASE_WEIGHT=
DEVICE_WEIGHT=

NEW_USER_MF_WEIGHT=
NEW_USER_CBF_WEIGHT=
NEW_USER_POPULAR_WEIGHT=
NEW_USER_TIME_BASE_WEIGHT=
NEW_USER_DEVICE_WEIGHT=

# Redis Configuration
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_DECODE_RESPONSES=